/* STRUCTURAL */

/* big changes */
body{
    box-sizing: border-box;
    margin: 0;
}

/* testing border */
.border{
    border: 1px solid red;
}

/* flex classes */
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.evenly{
    justify-content: space-evenly;
}

.between{
    justify-content: space-between;
}

.astart{
    align-items: start;
}

.start{
    justify-content: start;
}

.column{
    flex-direction: column;
}

/* colors for the backgrounds */
.bg-gray{
    background: rgb(235, 235, 235);
}

.bg-light-maroon{
    background: rgb(191, 23, 101);
}

.bg-maroon{
    background: rgb(112, 37, 69);
}

.bg-white{
    background: white;
}

/* general styles */
a{
    text-decoration: none;
    color: black;
}

/* makes the layout uniform like how it was done in the uofsc page */
header, main, footer{
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
}

#hero-img{

    position: relative;
    height: 300px;
    width: 100%;

    background: url("imgs/heroheader.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: optimizeQuality;
    background-blend-mode: overlay;
}

#hero-img::before, #hero-img::after{
    content: "";
    height: 2px;
    width: 100%;
    filter: blur(4px);
    backdrop-filter: blur(4px);
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 4;
}

#hero-img::before{
    top: -1px;
}

#hero-img::after{
    bottom: -1px;
}



#hero-clear{
    background: url("imgs/heroimg.png");
    position: absolute;
    right: 0%;
    top: 0;
    width: 60%;
    height: 100%;
}

#hero-blur{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40%;
    z-index: 2;
    backdrop-filter: blur(4px);
}

#hero-text{
    position: absolute;
    height: 100%;
    width: 40%;
    top: 0;
    left: 0;
    z-index: 3;
    border-right: 2px solid black;
}

#hero-content{
    height: 100%;
    width: 100%;
    padding: 32px;
    gap: 12px;
}

button{
    border-radius: 8px;
    border: none;
    background: none;
    padding: 8px 12px;
}

button.yellow{
    border: 2px solid rgb(242, 212, 73);
}

#about-me{
    height: 360px;
    width: 100%;
    gap: 16px;
}

#polaroid{
    height: 100%;
    width: 200;
}

#polaroid img{
    height: 100%;
    width: 100%;
    rotate: 8deg;
}

#about-me article{
    width: 40%;
}

#about-me article h1{
    width: initial;
    padding: 4px 12px;
    text-align: center;
    border-radius: 8px;
    font-weight: 300;
}

/* NAVIGATION */
ul{
    list-style: none;
    width: 60%;
}

nav{
    height: 40px;
    width: 100%;
    padding: 2px 8px;
}


/* TYPOGRAPHY */
html{
    font-family: Helvetica, Arial, sans-serif;
}

.black-text{
    color: black;
}

.white-text{
    color: white;
}

.maroon-text{
    color: rgb(112, 37, 69);
}

.light-maroon-text{
    color: rgb(191, 23, 101);
}

.yellow-text{
    color: rgb(242, 212, 73);
}

.fs-4{
    font-size: 4px;
}

.fs-8{
    font-size: 8px;
}

.fs-12{
    font-size: 12px;
}

.fs-16{
    font-size: 16px;
}

.fs-24{
    font-size: 24px;
}

.fw-300{
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}

/* MEDIA QUERIES */