/* STRUCTUAL */

header{
    text-align: center;
}


body{
    background-color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
}

#flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.border{
    height: 300px;
    width: 300px;
    border: 2px solid #04B2D9;
    
}


/* footer */
footer{
    text-align: center;
}


/* TYPOGRAPHY */

.blue-text{

    color:#035AA6;
}

#lblue-text{
    color:#04B2D9;
}

.yellow-text{
    color:#F2C438;
}




/* MEDIA QUERIES */
