/* STRUCTUAL */

header{
    text-align: center;
}

/* when the box is clicked, this will be added on to the classlist */
#box1 .active{
    visibility: visible;
}

/* creating speech bubble */
#bubble{

    position: relative;

    height: 40px;
    width: 30px;
    visibility: hidden;

    padding: 2px;

    background-color: white;
    border: 2px solid black;
    border-radius: 30%;
    border-bottom-right-radius: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    margin:auto;
}

#bubble::after{

    content: "";

    position: absolute;
    bottom: -12px;
    right: -2px;

    height: 10px;
    width: 4px;

    background: white;
    border: 2px solid black;
    border-top: 2px solid white;

    border-bottom-left-radius: 100%;
}

body{
    background-color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
}

#flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.border{
    height: 300px;
    width: 300px;
    border: 2px solid #04B2D9;
    background-color: #fffbdae6;
    padding: 8px 8px; 
}

#select{
    margin-left: 0;
}

.start{
    text-align: start !important;
}

.hidden{
    visibility: hidden;
}

#img-btn{
    height: 200px;
    width: 200px;
    border-radius: 16px;
    overflow: hidden;
    margin: auto;
    position: relative;
}

#img-btn img{
    height: 100%;
    width: 100%;
}

#heart{
    
}


/* footer */
footer{
    text-align: center;
}


/* TYPOGRAPHY */

.blue-text{

    color:#035AA6;
}

#lblue-text{
    color:#04B2D9;
}

.yellow-text{
    color:#F2C438;
}




/* MEDIA QUERIES */
