/* STRUCTURAL */

/* fixes the border issue */
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

/* color bgs */
.bg-garnet{
    background-color: #750009;
}


/* default flex styling */
.flex{
    display:flex;
    align-items: center;
}

/* make a container to adjust the margins and center */
.container{
    width: calc(100% - 2 * clamp(1.5rem, calc(1.0555555556rem + 0.9259259259vw), 1.75rem));
    margin-left: auto;
    margin-right: auto;
}

/* space between for the header and footer */
.space-between{
    justify-content: space-between;
}

.end{
    justify-content: end;;
}

.full-w{
    width: 100%;
}

/* padding on very top of the page */
#top-nav{
    padding-top: 10px;
    padding-bottom: 5px;
    height: 100px;
}

#title-box{
    padding-top: 10px;
}

/* the white links at the very top of the website */
#mini-links{
    list-style: none;
}

#mini-links li{
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 1px solid white;
}

.no-border{
    border: none !important;
}

.no-padding-left{
    padding-left: 0px !important;
}

/* fixing the iamge sizing  */
#usc-logo{
    height:8vh;
    width:16vw;
}


/* FOOTER LINKS */


#footer-links{
    background: maroon;
    color:white;
}

#footer-links a{
    color:white;
}

/* FOOTER COPY */
#footer-copy{
    background:black;
    color:white;
}

#footer-copy a{
    color:white;
}

/* NAVIGATION */
#top-nav{
    background: black;
}

#red-nav{
    height: 50px;
}

#red-nav button{
    padding-left: 24px;
    padding-right: 24px;
    font-weight: bold;
}

/* TYPORGRAPHY */
.white-text{
    color:white;
}

a{
    color: white;
    text-decoration: none;
}

.fs-10{
    font-size: 10px;
}

.fs-32{
    font-size: 32px;
}

.fs-18{
    font-size: 18px;
}

/* MEDIA QUERIES */