/* STRUCTURAL */

/* testing/needs work */
.hidden{
    overflow-x: hidden;
    overflow: hidden;
}

.testing{
    border: 2px solid green;
}

.main-img img, #hero-img img{
    height: 100%;
    width: 100%;
}

.center{
    align-items: center;
    justify-content: center;
    display: flex;
}


/* fixes the border issue */
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* color bgs */
.bg-garnet{
    background-color: #750009;
}

.bg-white{
    background-color: white;
}

.bg-black{
    background-color: black;
}

.bg-grey{
    background-color: #EDEDED;
}

/* default flex styling */
.flex{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}

/* make a container to adjust the margins and center */
.container{
    width: calc(100% - 2 * clamp(1.5rem, calc(1.0555555556rem + 0.9259259259vw), 1.75rem));
    margin-left: auto;
    margin-right: auto;
}

/* flex helpers */
.space-between{
    justify-content: space-between;
}

.evenly{
    justify-content: space-evenly;
}

.around{
    justify-content: space-around;
}

.center{
    justify-content: center;
}

.end{
    justify-content: end;;
}

/* width helpers */
.full-w{
    width: 100%;
}

.w-1360{
    max-width: 1360px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.w-50{
    width: 50%;
}

/* height helpers */
.h-60{
    min-height: 60vh;
}

.h-70{
    min-height: 70vh;
}

.circ{
    border-radius: 50%;
}

/* big images that used to be parallax */
.main-img{
    position: relative;
    height: 680px;

}

.main-img-box{
    padding: 40px;
    position: absolute;
    width: 650px;
    height: 222px;
    bottom: -5%;
    box-sizing: initial !important;
    z-index: 4;
}

.left-pos{
    left: clamp(5%, 5vw, 10%);
}

.right-pos{
    right: clamp(5%, 5vw, 10%);
}

.smaller-width{
    width: 450px !important;
}

/* cards portion */
.card{
    height: 52.5vh;
    max-width: 40vh;
    padding-bottom: 10px;
}

.card-img{
    height: 40vh;
    width: 40vh;
    overflow: hidden;
}

.card p {
    width: 90%;
}

/* general button stylings */
button{
    text-transform: uppercase;
    font-weight: 800 !important;
}

.main-btn{
    padding: 12px 24px !important;
    border: 2px solid white;
    font-size: 17px;
    box-shadow: inset 0 1px 0 hsla(var(--color-white-h), var(--color-white-s), var(--color-white-l), 0.15),0 1px 3px hsla(var(--color-primary-light-h), var(--color-primary-light-s), var(--color-primary-light-l), 0.25),0 2px 6px hsla(var(--color-primary-light-h), var(--color-primary-light-s), var(--color-primary-light-l), 0.1),0 6px 10px -2px hsla(var(--color-primary-light-h), var(--color-primary-light-s), var(--color-primary-light-l), 0.25);
}

/* adjusting all the icons */
#icons{
    margin-left: auto;
    margin-right: auto;
}

.icon{
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-right: 0.7rem;
}

.footer-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo img{
    height: 100%;
    width: 100%;
}

.icon svg, .footer-icon svg{
    height: 100%;
    width: 100%;
    fill: #750009;
}

.footer-icon svg{
    fill: white !important;
    height: 90%;
    width: 90%;
}


/* padding on very top of the page */
#top-nav{
    padding-top: 10px;
    padding-bottom: 5px;
    height: 100px;
}


/* the white links at the very top of the website */
.mini-links{
    list-style: none;
}

.mini-links li{
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 1px solid white;
}

.no-border{
    border: none !important;
}

.no-padding-left{
    padding-left: 0px !important;
}

.margin-top-56{
    margin-top: 56px; /* -> 32px */
}

/* fixing the iamge sizing  */
#usc-logo{
    height:7vh;
    width:14vw;
}

/* main page ids */
#hero-img{
    height: 600px;
}

/* red boxes */
#summ{
    line-height: 1.8;
    padding: 40px 0;
    text-wrap-mode: initial;
    text-wrap-style: pretty;
}

/* the quote section after the hero img */
#circ-img{
    height: 350px;
    width: 350px;
    border-radius: 100%;
    overflow: hidden;
}

#quote{
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
}

#quote-box{
    color: #750009;
    margin-left: 1em;
    margin-right: 1em;
    padding: 48px 24px 48px 28px;
    font-weight: 700;
    font-size: 22px;
    width: 50%;
    min-height: 350px;
    line-height: 1.8;
}

/* cards  */
#cards{
    padding: 40px 80px; /* -> 32px 0 */
    gap: 2.25rem;
    flex-wrap: wrap;
}

#sc-box{
    padding: 64px 0;
    max-height: 360px;
    gap: 16px;
}

/* grey footer styles */
#grey-footer{
    padding: 23px 0; /* -> 16px */
}

.gf-sect{
    padding: 0 16px; /* -> 32px */
    min-height: 95px;
    color: #750009;
    align-items: start;
}

.gf-sect.first{
    width: calc(100% * 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.7);
}

.gf-sect.second{
    width: calc(100% * 1/3);
    border-right: 1px solid rgba(0 ,0 ,0, 0.7);
}

.gf-sect.third{
    width: calc(100% * 1/6);
    line-height: 1.8;
}

/* FOOTER LINKS */


#footer-links{
    background: maroon;
    color:white;
}

#footer-links a{
    color:white;
}

/* FOOTER */
footer{
    min-height: 478px;
    width: 100%;
    position: relative;
}

.footer-sec{
    margin: 0 20.5px;
}

.footer-logo{
    height: 60px;
    width: 300px;
}

.footer-icon{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    border: 2px solid white;
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 10px;
}

/* red footer portion */
.red-footer-sect{
    padding: 0 0.5rem;
    min-height: 272px;
}

.red-footer-sect h1{
    border-bottom: 2px solid white;
    padding-bottom: 8px;
    margin: 0 16px 10px 0;
}

.red-footer-sect.first{
    width: 50%;
    max-width: calc(1360px * 1/2);
}

.red-footer-sect.second{
    width: calc(100% * 1/3);
    max-width: calc(1360px * 1/3);
}

.red-footer-sect.third{
    width: calc(100% * 1/6);
    max-width: calc(1360px * 1/6);
}

#red-footer ul{
    width: calc(97%/3);
    list-style: none;
    line-height: 1.8;
    min-height: 272px;
    align-items: start;
    font-weight: bold;
    row-gap: 7;
}

#red-footer ul li{
    width: 100%;
    margin-left: 0;
}

.footer-icon.final{
    margin-right: 0;
}

/* black footer adjustments */
#black-footer{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    border-top: 1px solid white;
}

#black-footer .mini-links{
    padding: 10px 0;
}

/* NAVIGATION */
#top-nav{
    background: black;
    padding-bottom: 12vh;
}

#top-nav .mink-links{
    font-size: 10px !important;
}

#title-box{
    padding-top: 10px;
}

#red-nav{
    height: 50px;
}

#red-nav button{
    padding-left: 24px;
    padding-right: 24px;
    font-weight: bold;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 4;
}

/* TYPORGRAPHY */
.white-text{
    color:white;
}

a{
    color: white;
    text-decoration: none;
}

.fs-64{
    font-size: 64px;
}

.fs-44{
    font-size: 44px;
}

.fs-10{
    font-size: 10px !important;
}

.fs-16{
    font-size: 16px;
}

.fs-14{
    font-size: 14px;
}

.fs-32{
    font-size: 32px;
}

.fs-22{
    font-size: 22px;
}

.fs-18{
    font-size: 18px;
}

.fw-bold{
    font-weight: bold;
}

.fw-500{
    font-weight: 500;
}

.black-text{
    color: black;
}

.garnet-text{
    color: #750009;
}

.underline{
    text-decoration: underline;
}

.upper{
    text-transform: uppercase;
}

.upper *{
    text-transform: uppercase;
}

/* MEDIA QUERIES */
@media(max-width: 820px) {

    /* mainly adjusting padding, font-size, widths, margins, and making sure
    certain flex elements aren't changed  */
    .flex{
        flex-direction: column;
        row-gap: 1rem;
    }

    #top-nav ul{
        font-size: 7px !important;
        flex-direction: row !important;
        width: 100%;
        margin-bottom: 0.5rem;
        justify-content: space-evenly;
        display: flex;
    }

    #top-nav h1{
        font-size: 18px;
    }

    #red-nav{
        justify-content: center;
    }

    #red-nav *{
        font-size: 10px;
        flex-direction: row;
        align-items: start;
    }

    #usc-logo{
        height: 100%;
        width: 50vw;
    }

    #summ{
        padding: 40px 16px;
    }

    .main-img{
        margin-bottom: 50vh;
    }

    .main-img-box{
        top: 90%;
        width: 90% !important;
        height: 50vh;
        box-sizing: border-box !important;
        padding: 32px;
    }

    .right-pos{
        right: 5%;
    }

    .left-pos{
        left: 5%;
    }

    #page-links{
        align-items: center;
    }

    .gf-sect{
        text-align: center;
    }

    .gf-sect.first, .gf-sect.second, .gf-sect.third{
        border: 0;
        width: 100%;
        align-items: center;
    }

    #page-links .first{
        border-top: 0.5px solid rgba(0 ,0 ,0, 0.7);
        padding-top: 1rem;
    }

    #page-links .last{
        border-bottom: 0.5px solid rgba(0 ,0 ,0, 0.7);
        padding-bottom: 1rem;
    }

    #sc-box .flex{
        flex-direction: row !important;
    }

    #black-footer ul{
        flex-direction: row;
        font-size: 8px !important;
        justify-content: space-evenly;
    }

    #quote-box{
        padding: 48px 16px;
        font-size: 20px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #quote-box span{
        font-size: 14px;
    }

    #cards{
        padding: 32px 0;
    }

    #grey-footer{
        padding: 16px;
    }

    .gf-sect{
        padding: 0 32px;
    }

    .margin-top-56{
        margin-top: 32px;
    }

    #sc-box h1{
        font-size: 40px;
    }

    footer{
        padding: 0 1rem;
    }

    #top-red{
        padding-top: 12px;
        margin-left: auto;
        margin-right: auto;
    }

    .red-footer-sect{
        padding-top: 12px;
    }

    .red-footer-sect .flex{
        flex-direction: row !important;
        width: 100%;
    }

    .red-footer-sect ul.flex{
        flex-direction: column !important;
        align-items: center;
    }

    .red-footer-sect{
        width: 100% !important;
        max-width: 100% !important;
        max-height: auto !important;
    }
} 