/* Structural */
body{
    /* changing default font page */
    margin-top: 0px; /* makes the website more flush */
    font-family: Helvetica, Arial, sans-serif;
    background-color: #FFDBDB;
    
}



#name{
    font-size: 20px;
}


/* alignment for the h1,h2 */
header{
    text-align: center;
}

/* div id */
#container{
    background-color: #fff9ed;
    width: 75%;
    margin: auto;
    margin-top: 0;
    padding: 30px 50px;
    height: 100vh;

    /* borders for both side of div */
    border-left:6px solid #31a2b1;
    border-right:6px solid #31a2b1;

}

#description{
    color:#8e8e8e
}

#copyright{
    color: #31a2b1;

}

li {
    margin-bottom: 8px;
}



/* Navigation */



/* Typography */

h1{
    /* CSCE242 Title */
    color:#5fada2;
}


h2, h3{
    /* made the headings the same color */
    color:#696868;
}

/* hyperlink */
a{
    text-decoration: none;
    color:#cd6688;
}

