/* STRUCTURAL */
body{
    width: 100vw;
    min-height: auto;
    padding: 16px 8px;
    text-align: center;
    box-sizing: border-box;
}

.bg-pink{
    background: rgb(255, 228, 245);
}

.bg-azure{
    background: rgb(255, 251, 243);
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.column{
    flex-direction: column;
}

.evenly{
    justify-content: space-evenly;
}

main{
    border: 1px solid black;
    width: 90%;
    padding: 8px 16px;
    height: 300px;
}

main div{
    height: 100%;
    width: 100%;
}

.hidden{
    visibility: hidden;
    display: none;
    height: 0;
    width: 0;
}

/* NAVIGATION */

nav p{
    padding: 2px 8px;
    font-weight: 300;
    display: inline-block;
    cursor: pointer;
}

#exercise1{
    position: relative;
}

#exercise1::after{
    content: "";
    position: absolute;
    top: 0;
    right: -0.5px;
    height: 100%;
    width: 1px;
    background: black; /* should be regular text */
}

/* TYPOGRAPHY */
.red-text{
    color: red !important;
}

.regular-text{
    color: black;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* MEDIA QUERIES */
